body {
  
    font-family: sans-serif;
   margin: 0;
}

.logo{
    width: 50px;
}

header{
    background-color: rgb(88, 42, 114);
    justify-content: center;
    display: flex;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
}

h1{
    text-align: center;
}

.our-advantages{
    height: min-height;
    background-color: rgb(88, 42, 114);
    padding-top: 30px;
}

.our-advantages h2{
    text-align: center;
    color: white;
    margin-top: 0;
}



.advantages{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.advantages section{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-left: 20px;
    flex: 1 1 250px;
    max-width: 300px;
}

section img{
    width: 170px;
    border-radius: 10px;
}

.button{
    color: black;
    background-color: rgb(237, 201, 48);
    text-decoration: none;
    border-radius: 15px;
    padding: 17px;
    margin-top: 20px;
    text-align: center;
    margin: 30px auto 0 auto;
    align-items: center;
    transition: all 0.3s ease;
}

.divbut{
    display: flex;
    
}

footer{
    background-color: rgb(88, 42, 114);
    border-top: 5px solid black;
}

.footer-image{
    width: 100px;
}

footer div{
    display: flex;
}

footer p{
    font-size: 20px;
    color: white;
}

nav a:hover{
    text-decoration: underline;
}

.button:hover{
    color: white;
}
